*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.nav-2{
    font-size: x-large;
}
.navbar{
    font-size: medium;
}
.max{
        width: 100vw;
        position: relative;
        margin-left: -50vw;
        left: 48%;
        padding: 0px 70px;
}
.container-fluid{
    max-width: 100%;
}
.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0;
    float: right;
}
.fluid{
    width: calc(100vw - 10px);
    position: relative;
    margin-left: calc(-50vw + 5px);
    left: -32%;
    margin-right: 0px;

}
.con-pad{
    padding: 0px 100px;
}
.black{
    color: black;
    font-weight: bold;
}
.w-80{
    width: 80%;
}
.car-one{
    background: url(../images/doc2.jpg) no-repeat;
    background-size: 100% 100%;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.541);
    padding: 150px 115px;
    background-attachment: fixed;
}
.car-two{
    background: url(../images/lab1.jpg) no-repeat;
    background-size: 100% 100%;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.541);
    padding: 150px 115px;
    background-attachment: fixed;

}
.car-three{
    background: url(../images/lab2.png) no-repeat;
    background-size: 100% 100%;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.541);
    padding: 150px 115px;
    background-attachment: fixed;

}
.hero-success{
        color: #21A188;
        font-weight: 700;
}
.inner-row{
    background: #000 url(../images/doooc.png) no-repeat;
    background-size: 100% 100%;
    background-blend-mode: overlay;
    
}
.btn{
    padding: 5px 20px;
    margin-right: 6px;
    border-radius: 15px;
    font-size: large;
}

.row-height{
    text-align: center;
}
.row-height div{
    padding: 50px 0px;
}
.row-height div i{
    font-size: 4rem;
    color: #fff;
    padding-bottom: 50px;
}
.ione{
    background-color: #025502;
}
.end{
    text-align: end;
    
}
.dropdown-menu{
    width: 100%;
    background-color: #025502;
}
.end-text{
    padding-top: 6rem;
}
.RandD{
    background: url(../images/dooc4.jpg) no-repeat;
    background-size: 100% 100%;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.692);
    background-attachment: fixed;
}
.doctor {
    background: #fff;
    background-attachment: fixed;
}
/* .container-fluid{
    padding-left: 0px;
    padding-right: 0px;
} */
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px;
}
.card{
    height: max-content;
    padding-bottom:0px;
    margin-right: 19px;
    border: none;
}
 .four img{
    width: 100%;
    height: 300px;
}
.card-body{
    text-align: left;
}
.con-pad2{
    background-color: #F5F5F5;
}
.bg-card{
    background-color: #F5F5F5;
}
.lab{
    width: 55%;
    margin: auto;
}
.footer{
    position: relative;
}
.arrow{
    position: fixed;
    bottom: 10%;
    right: 0;
    width: max-content;
    
}
.arrow-down{
    position: fixed;
    top: 10%;
    left: 0;
    width: max-content;
    
}